.header{
    position: sticky;
    top:0;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgrey;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 999;
}

.header_left{

    display: flex;
}
.header_left .linkedin-icon{
    object-fit: contain;
    height:40px;
    width: 50px;
    margin-right: 10px;
    color: blue;
   
}



.header_search{
    display: flex;
    padding: 10px;
    height: 22px;
    align-items: center;
    border-radius: 5px;
    color: gray;
    background-color: #eef3f8;

}
.header_search > input {
    outline: none;
    background: none;
    border: none;
}

.header_right{

    display: flex;
}